html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
main {
  width: 900px;
  margin: 100px auto 50px;
  line-height: 1.5;
  color: #333333;
}
strong {
  color: #0907a4;
}
a {
  color: #0907a4;
  text-decoration: none;
  text-decoration-color: #d172cb;
  font-weight: bold;
}

/* Hero Section */
.hero-section {
  text-align: center;
  position: relative;
  height: 100vh;
}
.hero-heading {
  font-size: 96px;
  color: #0907a4;
}
.hero-text {
  font-size: 20px;
  color: #333333;
  position: absolute;
  width: 260px;
  right: 0;
  top: 260px;
}
.hero-image {
  width: 400px;
  z-index: 10;
  position: absolute;
  left: 250px;
  top: -50px;
}

/* Main Content */
.astronaut-section,
.chair-section,
.cubes-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.astronaut-section p,
.chair-section p,
.cubes-section p {
  width: 340px;
}
.astronaut-section p,
.cubes-section p {
  text-align: right;
}
.chair-section {
  flex-direction: row-reverse;
}
.image {
  width: 400px;
  padding: 40px;
}
.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* 
Challenge: Add appropriate alternative texts to the images. Hint: Use the alt-attribute inside the image-tags in your HTML.
*/
